// Calculates a = x*y
// a is a local variable
// x & y are static variables

// Put your code here.

// init a = 0
push constant 0 
pop local 0

// init static 3 = x 
push static 0 
pop static 3

// init sign for x and y
push constant 0
pop static 4
push constant 0
pop static 5

// init counter 
push static 0
pop static 6 // counter
push static 1
pop static 7 // adder

// check neg
push static 0
push constant 0
lt
if-goto NEG_X

push static 1
push constant 0
lt 
if-goto NEG_Y

push static 0
push static 1
lt 
if-goto LESS_Y
goto iterate

label NEG_X
push static 0
neg
pop static 0
push static 4
push constant 1

label NEG_Y
push static 1
neg
pop static 1
push static 5
push constant 1

label LESS_Y
push static 1
pop static 6
push static 0
pop static 7



// loop
label iterate
push static 0
push constant 0
eq
if-goto END
push static 0
push constant 1
sub
pop static 0
push static 1
push local 0
add
pop local 0
goto iterate 


label END
    push local 0
goto END