// Calculates a = x*y
// a is a local variable
// x & y are static variables

// Put your code here.
push static 0
pop temp 0
push static 1
pop temp 1

push constant 0
pop local 0

push static 0    
push constant 0
eq
if-goto END

push static 1
push constant 0
eq
if-goto END

push static 0
push constant 0
gt 
if-goto IF_X_POSITIVE
push static 0
neg
pop static 0
push static 1
neg
pop static 1

label IF_X_POSITIVE
label LOOP
push local 0
push static 1
add
pop local 0
push static 0
push constant 1
sub
pop static 0
push static 0
push constant 0
gt
if-goto LOOP

push temp 0
pop static 0
push temp 1
pop static 1

label END
goto END